<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627877852836-vsbjfepsrvmltgv86nfrlllk2bqmtmp6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627877852836-vsbjfepsrvmltgv86nfrlllk2bqmtmp6</string>
	<key>API_KEY</key>
	<string>AIzaSyCexbjtChbL3_KM1RtY0POQMQYZtXFHKaA</string>
	<key>GCM_SENDER_ID</key>
	<string>627877852836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wanderwave</string>
	<key>PROJECT_ID</key>
	<string>wanderwave-faf5a</string>
	<key>STORAGE_BUCKET</key>
	<string>wanderwave-faf5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627877852836:ios:d277df96260cdeab809831</string>
</dict>
</plist>