<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9DEiLuJ7pG7IpisvL2WrSsW6ALx2G-vY</string>
	<key>GCM_SENDER_ID</key>
	<string>789774305313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emosense.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bhai-b7629</string>
	<key>STORAGE_BUCKET</key>
	<string>bhai-b7629.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789774305313:ios:92cd7e4732fa5212283b60</string>
</dict>
</plist>